header{
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, #1e0c3e,#300679 );
    justify-content: space-between;
    align-items:center;
    color: white;
    text-align:center;
}
.titulo img{
    width: 100px;
}
body{
    background-color: rgb(223, 223, 245);
}
body img{
    width: 200px;
}
footer{
    text-align: center;
    background-image: linear-gradient(to bottom, #1e0c3e,#300679 );
    color: white;
}