header{
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, #530dca,#a67cef);
    justify-content: space-between;
    align-items:center;
    color: white;
    text-align:center;
}
div.titulo img{
    width: 100px;

}
div.nav button{
    background-color: #a67cef;
    color: white;
    width: 200px;
    height: 30px;
}
div.nav button:hover{
    background-color: #d7c6f6;
}
body{
    background-color: #d7c6f6;
}
body img{
    width: 200px;
}
div.box {
    width: 200px;
    height: 10px;
    display: inline-block;
}
footer{
    text-align: center;
    background-image: linear-gradient(to bottom,  #530dca,#a67cef);
    color: white;
}
a:hover {
    color: white;
}