body{
    margin: 0px;
    background-color: #d7c6f6;
}
body a{
    color: black;
}
header{
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, #530dca,#a67cef);
    justify-content: space-between;
    align-items:center;
    color: white;
    text-align:center;
}
h1{
    margin: 0%;
}
div.titulo img{
    width: 100px;

}
div.nav button{
    background-color: #a67cef;
    color: white;
    width: 200px;
    height: 30px;
}
div.nav button:hover{
    background-color: #d7c6f6;
}
main{
    margin: 8px;
}
main img{
    width: 200px;
}
div.box {
    width: 200px;
    height: 10px;
    display: inline-block;
}
footer{
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom,  #530dca,#a67cef);
    color: white;
}
div.roda_pe{
    padding: 10px;
    margin: 0%;
}
#rp_1{
 margin: 0%;
}
a:hover {
    color: white;
}